PORT=8080
DATABASE_URL=postgres://postgres:postgres@postgres:5432/db
ELASTICSEARCH_URL=http://elasticsearch:9200
ALLOWED_ORIGINS=http://localhost:5173

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:postgres@localhost:5432/db
GOOSE_MIGRATION_DIR=./internal/database/migrations